* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 34px;
    color: #161b22;
    margin-bottom: 5px;
    line-height: 1.5;  /* Ajuste no line-height para o alinhamento */
}

a {
    display: inline-block; /* Faz o link se comportar como um elemento inline */
    text-align: center;
    font-size: 20px;
    color: #999;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: 5px; /* Adiciona um pequeno espaçamento entre o título e o link */
}

a:hover {
    color: #ff3c00;
}


body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f0f0f0; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    gap: 20px; 
    justify-content: center; 
    margin-top: 20px; 
}

.button {
    width: 100%;
    height: 150px;
    background-color: #161b22;
    border: 2px solid #21262d;
    border-radius: 8px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
    transform: scale(1.1); 
    cursor: pointer;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5); 
}

#btn1:hover {
    color: #00ff08;
}
#btn2:hover {
    color: #ff00bf;
}
#btn3:hover {
    color: #ff0000;
}
#btn4:hover {
    color: #ff7300;
}
#btn5:hover {
    color: #0091ff;
}
#btn6:hover {
    color: #eeff00;
}


@media (max-width: 768px) { /*media query ativa quando a largura da tela é igual ou menor que 768px*/
    .container { /*afeta o "conteiner" classe dos botões*/
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Define um tamanho mínimo */
        gap: 15px; /*espaçamento mínimo entre os botões*/
    }
}

@media (max-width: 480px) { /*media query ativa quando a tela tem 480px ou menos (celulares pequenos)*/
    .container {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Aumenta largura mínima */
        gap: 10px;
    }

    .button {
        height: 130px; /* Aumenta a altura dos botões */
        font-size: 16px; /* Aumenta um pouco o texto */
    }
}



/* Estilos BTN dark mode */
body {
    background-color: white;
    color: black;
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

/* Estilizando o botão de dark mode */
#toggle-theme {
    position: fixed;
    top: 2px;
    right: 10px;
    padding: 0; /* Remove o padding */
    border: none; /* Remove a borda */
    background: none; /* Remove o fundo */
    color: white; /* Cor do ícone */
    font-size: 40px; /* Tamanho do ícone */
    cursor: pointer; /* Mantém o cursor como pointer */
    transition: opacity 0.3s ease; /* Transição suave */
    width: 40px; /* Tamanho fixo para o ícone */
    height: 40px; /* Tamanho fixo para o ícone */
    display: flex; /* Usa flexbox para centralizar o ícone */
    justify-content: center; /* Alinha o ícone no centro horizontal */
    align-items: center; /* Alinha o ícone no centro vertical */
    opacity: 0.5; /* Torna o botão levemente transparente */
}

#toggle-theme:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}

/* No estado ativo */
#toggle-theme:active {
    opacity: 0.7; /* Reduz a opacidade quando clicado */
}