@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Miniver&family=Nosifer&family=Noto+Sans+Warang+Citi&family=Outfit:wght@100..900&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

nav.menu{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 65px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 0;
    box-shadow: 3px 0 0 #ff4800;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: scroll;
    transition: .5s;
}

nav.menu::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

    nav.menu.abrir{
    width: 300px;    
}

.expandir{
    width: 100%;
    padding-left: 10px;
}

nav.menu {
    position: relative; 
}

#icone1{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin-left: 0px;
}

i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.ativo{
    background-color: #ff4800;
}

ul li.item1 a:hover{
    background-color:#ff4800;
}

.expandir:hover{
    background-color:#ff4800;
}

ul li.item1 {
    display: block;
    width: 100%;
}

ul li.item1 a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 5px;
    line-height: 40px;
    width: 100%;
}

ul li.item1 a .link{
    margin-left: 80px;
    opacity: 0;
}

nav.menu.abrir .link{
    margin-left: 40px;
    transition: 5s;
    opacity: 1;
}

ul li.item1 a .icone > i{
    font-size: 30px;
    margin-left: 1px;
    margin-right: 20px;
}

#background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1; 
}

#background{
    overflow: hidden;
    position: fixed;
}

body::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

.lista{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.lista {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 15px;
}

#overlay {
    color: #2a95f4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(59, 126, 228, 0.1); 
    backdrop-filter: blur(4px); 
    z-index: 1;
}

/*main*/

#carossel1 {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    right: 900px;
    width: 600px;  
    max-width: 100%;  
    margin: 0;  
    overflow: hidden;
}

#carossel1 input[type="radio"],
#carossel1 .indicators label {
    display: none;
}

.images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image {
    min-width: 100%;  
    box-sizing: border-box;
}

#carossel1 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;  
}

#carossel1 .indicators {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

#carossel1 input:checked:nth-of-type(1) ~ .images {
    transform: translateX(0%);
}

#carossel1 input:checked:nth-of-type(1) ~ .indicators label:nth-of-type(1){
}

#carossel1 input[type="radio"] {
    display: none;
}

.nav-button {
    margin-left: 20px;  
    padding: 10px 20px;
    font-size: 14px;
    background-color: #161b22; 
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); 
}

.nav-button:hover {
    background-color: #0059ff; 
    transform: translateY(-3px); 
}

/*titulo e sub titulo*/

h1{
    width: 100%;
    margin-top: 10px; 
    font-size: 34px;
    color: #161b22; 
    margin-bottom: 5px; 
}

h2 {
    font-size: 20px;
    color: #999; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

h2:hover {
    color: #ff4800; 
}
